---
pageable: true
per_page: 10
---

<section class="pb4 ph4">
  <p class="lh-copy">
    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
    ridiculus mus. Maecenas faucibus mollis interdum.
  </p>
</section>

<section class="pv2 ph4">
  <h1 class="f3 mb4">Projects</h1>

  <div class="grid grid-columns-3 ga4">
    <% blog.articles.each do |article| %>
    <article class="relative">
      <h2 class="mt0 mb1 f4 lh-title">
        <a href="/hcde598/<%= article.url %>" class="link">
          <%= article.title %>
        </a>
      </h2>
      <time class="text-fade f5 sans-serif-alt ttu tracked">
        <%= article.date.strftime('%B %d ') %>
      </time>
      <div class="article-intro">
        <p class="serif lh-copy"><%= article.data.description %></p>
      </div>
      <figure class="ma0">
        <img
          src="/hcde598/images/<%= article.data.img %>"
          alt="<%= article.title %> project"
        />
      </figure>
      <a href="/hcde598/<%= article.url %>" class="article-link"></a>
    </article>
    <% end %>
  </div>
</section>
